NEXT_PUBLIC_SUPABASE_URL=https://noorotaxkzlloyzjggru.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5vb3JvdGF4a3psbG95empnZ3J1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg4NDQ5OTEsImV4cCI6MjEwNDQyMDk5MX0.okFZWfdtfNWaQ95wGjVX4fbdw_PfvbQr2KziMza1PR4
